dsv-user:staff              = ldap:(memberOf=cn=dsv-staff,dc=dsv,dc=su,dc=se)
dsv-user:student            = daisy:students
dsv-user:student	    = user:tdsv

dsv-user:play:sprak-staff   = ldap:(memberOf=cn=english-staff,dc=english,dc=su,dc=se)
dsv-user:play:sprak-staff   = ldap:(memberOf=cn=philosophy-staff,dc=philosophy,dc=su,dc=se)
dsv-user:play:sprak-staff   = ldap:(memberOf=cn=historia-staff,dc=historia,dc=su,dc=se)

# Nobody should have this:
dsv-user:old-entitlement    = none
